.body{
    -fx-font-family: 'Courier New', Courier, monospace;
    -fx-alignment: center;
    -fx-font-size: 25;
    -fx-background-color: #478d9e;
    -fx-text-fill: black; /* Cambia el color del texto a blanco */
}

/* Estilos para BuscadorA */
.BuscadorA {
    -fx-alignment: center;
    -fx-font-family: "Courier New";
    -fx-font-size: 25;
    -fx-background-color: #478d9e;
    -fx-text-fill: black;
}

/* Estilos para BuscadorP */
.BuscadorP {
    -fx-alignment: center;
    -fx-font-family: "Courier New";
    -fx-font-size: 25;
    -fx-background-color: #478d9e;
    -fx-text-fill: black; /* Cambia el color del texto a blanco */
}

/* Estilos para InicioAlumno */
.InicioAlumno {
    -fx-alignment: center;
    -fx-font-family: "Courier New";
    -fx-font-size: 25;
    -fx-background-color: #478d9e;
    -fx-text-fill: black; /* Cambia el color del texto a blanco */
}

/* Estilos para InicioProfesor */
.InicioProfesor {
    -fx-alignment: center;
    -fx-font-family: "Courier New";
    -fx-font-size: 25;
    -fx-background-color: #478d9e;
    -fx-text-fill: black; /* Cambia el color del texto a blanco */
}

/* Estilos para RegistroAlumno */
.RegistroAlumno {
    -fx-alignment: center;
    -fx-font-family: "Courier New";
    -fx-font-size: 25;
    -fx-background-color: #478d9e;
    -fx-text-fill: black;
}

/* Estilos para RegistroProfesor */
.RegistroProfesor {
    -fx-alignment: center;
    -fx-font-family: "Courier New";
    -fx-font-size: 25;
    -fx-background-color: #478d9e;
    -fx-text-fill: black;
}

Button { -fx-background-color: #008287;
         -fx-border-color: #FFFFFF;
         -fx-border-width: 2;
         -fx-text-fill: #FFFFFF;
         -fx-font-family: "Courier New";
         -fx-font-size: 28;
         -fx-background-radius: 10 10 10 10;
         -fx-border-radius: 10 10 10 10;
}

.body .label{
	-fx-alignment: center;
	-fx-font-family: "Courier New";
    -fx-font-size: 25;
    -fx-text-fill: black;
    
}

ChoiceBox{
		 -fx-background-color: #008287;
         -fx-border-color: #FFFFFF;
         -fx-border-width: 2;
         -fx-text-fill: #FFFFFF;
         -fx-font-family: "Courier New";
         -fx-font-size: 28; 
   		 -fx-border-color: rgb(0, 0, 0);
         -fx-background-radius: 10 10 10 10;
         -fx-border-radius: 10 10 10 10;
} 

